<% include ./partials/header %>

<% for (let sailor of searchedSailors){%>
	<div class="container">
		<h2 align="center">Στοιχεία Ν/Δ</h2>
		<div class="card mb-3 mx-auto" style="max-width: 540px;">
			<div class="row g-0">
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><strong>Βαθμός: </strong><%= sailor.grade %></li>
					<li class="list-group-item"><strong>Όνομα: </strong><%= sailor.firstname %></li>
					<li class="list-group-item"><strong>Επίθετο: </strong><%= sailor.lastname %></li>
					<li class="list-group-item"><strong>ΑΓΜ: </strong><%= sailor.registration %></li>
					<li class="list-group-item"><strong>Ειδικότητα: </strong><%= sailor.adeptness %></li>
					<li class="list-group-item"><strong>Ημ/νία Άφιξης: </strong><%= sailor.arrival %></li>
					<li class="list-group-item"><strong>Ημ/νία Κατάταξης: </strong><%= sailor.classification %></li>
					<li class="list-group-item"><strong>Πιθανή Ημ/νία Απόλυσης: </strong><%= sailor.release %></li>
					<li class="list-group-item"><strong>Μήνες Υπηρέτησης: </strong><%= sailor.serve %></li>
					<li class="list-group-item"><strong>Κανονική Άδεια: </strong><%= sailor.defaultTimeoff %></li>
					<% if(sailor.bloodDonation != 0) { %>
						<li class="list-group-item"><strong>Αιμοδοτική Άδεια: </strong><%= sailor.bloodDonation %></li>
					<% } %>
					<% if(sailor.vaccineTimeoff != 0) { %>
						<li class="list-group-item"><strong>Άδεια Εμβολίου: </strong><%= sailor.vaccineTimeoff %></li>
					<% } %>
					<li class="list-group-item"><strong>Συνολική άδεια: </strong><%= sailor.totalTimeoff %></li>
					<li class="list-group-item"><strong>Αστυνομικό Τμήμα: </strong><%= sailor.police %></li>
					<li class="list-group-item"><strong>Όνομα Πατέρα: </strong><%= sailor.father %></li>
					<li class="list-group-item"><strong>Όνομα Μητέρας: </strong><%= sailor.mother %></li>
					<li class="list-group-item"><strong>Διεύθυνση: </strong><%= sailor.address %></li>
					<li class="list-group-item"><strong>ΕΣΣΟ: </strong><%= sailor.esso %></li>
					<li class="list-group-item"><strong>Σωματική Ικανότητα: </strong><%= sailor.fitness %></li>
					<li class="list-group-item"><strong>Οικογενειακή Κατάσταση: </strong><%= sailor.marital %></li>
					<li class="list-group-item"><strong>Καταγωγή: </strong><%= sailor.origin %></li>
					<li class="list-group-item"><strong>Άδεια οδήγησης: </strong><%= sailor.driver %></li>
					<li class="list-group-item"><strong>Γραμματικές Γνώσεις: </strong><%= sailor.knowledge %></li>
					<li class="list-group-item"><strong>Σταθερό τηλέφωνο: </strong><%= sailor.home %></li>
					<li class="list-group-item"><strong>Κινητό τηλέφωνο: </strong><%= sailor.mobile %></li>
					<li class="list-group-item"><strong>Απολύθηκε: </strong><%= sailor.isReleased %></li>
					<% if(sailor.disposals != undefined && sailor.disposals[0] != undefined) { %>
						<% if(sailor.disposals[0].startTime != undefined) { %>
							<li class="list-group-item"><strong>Ημέρα μετάθεσης/διάθεσης: </strong><%= sailor.disposals[0].startTime.toISOString().split('T')[0] %></li>
						<% } %>
						<% if(sailor.disposals[0].returnTime != undefined) { %>
							<li class="list-group-item"><strong>Ημέρα που γυρνάει από μετάθεση/διάθεση: </strong><%= sailor.disposals[0].returnTime.toISOString().split('T')[0] %></li>
						<% } %>
						<% if(sailor.disposals[0].daysCount != 0) { %>
							<li class="list-group-item"><strong>Ημέρες που είναι/ήταν σε μετάθεση: </strong><%= sailor.disposals[0].daysCount %></li>
						<% } %>
					<% } %>
					<li class="list-group-item"><strong>Μεταβολές: </strong><%= sailor.changes %></li>
				</ul>
			</div>
		</div>
		<div class="mb-3 mx-auto" style="max-width: 540px;">
			<a href="/" class="btn btn-outline-primary">Αρχική Σελίδα</a>
			<a href="/sailor/update/<%=sailor._id%>" class="btn btn-outline-primary float-right">Επεξεργασία</a>
		</div>
	</div>
<% } %>

<% include ./partials/footer %>